body{
    font-family: 'Times New Roman', Times, serif;
}
#bikram01{
    width: 250px;
    border-radius: 50%;
}
.png{
    width: 20px;
}
td{
    vertical-align: top;
}
a{
    text-decoration: none;
    color: black;
}
.imgName{
    background-color: bisque;
}
tr{
    background-color: beige;
}
.name{
    font-size: 70px;
    margin-bottom: 0;
}

.fn{
    font-size: 25px;
    margin-top: 0;
    font-style: italic;
    
}
#dp{
    vertical-align: middle;
}
h2{
    background-color: black;
    color: white;
}
.sign{
    width: 300px
}
.cv{
    text-align: center;
    text-decoration:underline;
}
